*.hdf5
*.npz
*.npy
*.json
*.xlsx
venv
data
norb_data
/*.png
.ipynb_checkpoints
TF_NN_Logs
output
/*.pdf
/*.csv
/*.pkl
/*.tex
cache
LOO_cache
saved_models
octave-workspace
dpp.tgz
train_log
decompose_kernel.m
elem_sympoly.m
genmult.m
sample_dpp.m
sample_k.m